@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* ========= GENERAL ========= */
h1 {
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    font-weight: 700;
}

h2,
h3 {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
}

p,
a {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 17px;
    color: rgb(224, 217, 217);

}

a {
    color: #000;
}

a:hover {
    text-decoration: none !important;
    color: rgb(79, 73, 134);
}

input,
button {
    font-family: 'Noto sans HK'
}

.nott {
    color: #fff;
    font-size: 50px;
}

/* +++++ NAVBAR +++++ */
#navbar {
    background: #fff;
    position: relative;
    float: right;
    right: 0;
    /* margin-left: auto; */
}

#toggle-btn {
    border: none;
}

.navbar-light .navbar-nav .nav-active {
    color: #19692c !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    text-decoration: underline !important;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.664); */
}

#search-toggle {
    margin-left: auto;
}

.t {
    float: left !important;
    height: 100px;
}

/* ========= MAIN ========= */
/* +++++ SIDEBAR +++++ */
ul {
    list-style: square inside;
}

.list-recipe ul,
li {
    padding: 5px;
    text-transform: uppercase;

}

.list-recipe h2 {
    text-align: center;
    padding-bottom: 15px;
}

.sidebar {
    background: rgba(240, 237, 237, 0.664);
}

.sidebar p {
    text-align: center;
    color: #000;
    padding-bottom: 40px;
    font-size: 14px;
}

.newsletter {
    border-radius: 0;
}

input,
button,
label,
textarea,
.input-group-text {
    font-family: 'Noto sans HK', sans-serif;
}

/* input [type="submit"] {
    font-family: 'Noto sans HK', sans-serif;
} */

.insta-feed h2 {
    margin: 0 auto;
}

/* .newsletter {
    display: inline-block;
    margin: 0 auto;
}


.newsletter input {
    text-align: center;
    border: none;
    border-radius: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 0.5em;
    background: none;
}

.newsletter .btn {
    border: none !important;
    border-radius: 0 !important;
    background: #218838;
    padding: 0.5em 1em;
}

.newsletter {
    text-align: center;
    padding: 0.5em 0;
    display: block;
    margin: 0 auto;
}

.btn-success {
    font-family: 'Noto sans HK', sans-serif;
} */

.line {
    position: relative;
    width: 90%;
    margin: 1em 0;
    border-top: 1px solid rgb(201, 197, 197);
}

/* ======= */
/* +++++ CARD RECIPE +++++ */
.recipe {
    /* border: none; */
    border-top: 0;
    border-left: 0;
    border-radius: 0 !important;
    background: 0 0;
    color: #fff;
    text-align: center;
}

.recipe cite {
    margin-top: 5px;
    font-style: italic;
}

.food-img {
    max-width: 100%;
    min-height: 274.61px;
    max-height: 274.61px;
}

.card {
    min-height: 100%;
}

.card-author,
.card-title,
.author {
    text-transform: uppercase;
}

.card-author {
    font-weight: 400;
    color: rgba(146, 145, 145, 0.801)
}

.card-date {
    float: left;
    color: #dbdbdb;
}

.card-author a {
    font-weight: 300;
    color: rgb(23, 23, 97);
}

.card-title {
    text-align: left;
}

.card-title a {
    font-size: 18px;
    font-weight: 500;
}

.line-r {
    position: relative;
    width: 90%;
    margin: 20px 0;
    border-top: 1px solid rgb(201, 197, 197);
}

/* ======== */
/* PROFILE PAGE */
.profile-page {
    background-image: url('../img/rec-bg-5.jpg');
    background-position: center;
    background-size: cover;
}

.profile-img {
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.profile-article-image {
    width: 100%;
    height: 100%;
}

.setting {
    color: #dbdbdbc9;
    float: right;
}

/*  ====== Add recipe*/
.addRecipe {
    /* background: red; */
    background-image: url('../img/food6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 20vh; */
}

.bg-card-header {
    background-image: url('../img/woods.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: red; */
    padding: 10vh 0;
}

.bg-card-header .card-title {
    color: rgba(211, 205, 205, 0.74);
}

.tag-container {
    border: 2px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
    font-family: 'Noto sans HK', sans-serif;
    text-transform: none;
}

.tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

.tag-container #ingredient {
    padding: 5px;
    font-size: 16px;
    /* border: 0; */
    outline: none;
    font-family: 'Noto sans HK', sans-serif;
    color: #333;
    flex: 1;
}

/* ========= FOOTER ========= */
.footer {
    margin-top: 1em;
    text-align: center;
    background: #dbdbdb;
    padding: 2em 0;
}

/* ========= MEDIA QUERY ========= */
@media(max-width:991px) {

    /* <= Declenchement toggle */
    #navbar {
        float: none
    }

    #search-toggle {
        margin-left: none;
        position: absolute;
        right: 1em;
        top: 0.5em;

    }

    .line-r {
        display: none;
        overflow: hidden;
    }

    .card-title {
        text-align: center;
    }

    .card-content {
        text-align: center;
    }

    .profile-card {
        max-width: 240px;
        display: block;
        margin-left: none;
        margin: 0 auto;
    }

    /* .newsletter input {
        border: 1px solid #000;
        border-radius: 0px;
        background: #fff;
    } */
}